.navbar {
  position: fixed;
  width: 100%;
  max-height: 70px;
  background-color: var(--color-navbar);
  color: var(--color-white);
  z-index: 9999;
  overflow: hidden;
  transition: max-height 0.6s ease-in;
}

.navbar_menu-open {
  max-height: 450px;
}

.navbar_logo {
  position: absolute;
  top: 15px;
  color: var(--color-white);
  display: flex;
  user-select: none;
  padding: 0 12px;
  margin-left: 7px;
  cursor: pointer;
}

.navbar_logo:hover > p {
  color: var(--color-link-hover);
}

.navbar_logo:hover > svg > path {
  animation: colorChange 10s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    fill: white;
  }
  5% {
    fill: var(--color-link-hover);
  }
  10% {
    fill: white;
  }
}

.navbar_logo p {
  margin: 5px 0;
  padding-left: 15px;
  font-size: 25px;
  font-weight: 500;
}

.navbar ul {
  list-style-type: none;
}

.navbar_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-left: 0px;
}

.navbar_links li {
  padding-right: 25px;
  padding: 15px 0;
}

@media screen and (min-width: 880px) {
  .navbar_links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    padding-left: 40px;
  }
  .navbar_links li {
    font-size: 16px;
    padding: 0 15px 0 0;
  }
}

.navbar_links button {
  background-color: transparent;
  font-size: 18px;
  font-family: "SF-Pro";
  font-weight: 200;
  border: none;
  cursor: pointer;
  color: var(--color-white);
}

.navbar_links button:hover {
  color: var(--color-link-hover);
}

.github-button {
  transition: scale 0.3s;
}

.github-button:hover {
  scale: 1.1;
}

.github-icon {
  padding-top: 1.5px;
  margin-right: 26px;
  margin-left: 20px;
}

.language-button {
  margin-right: 20px;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: scale 0.3s;
}

@media screen and (max-width: 879px) {
  .language-button {
    display: none;
    position: absolute;
    top: 15px;
    right: 55px;
  }
  .navbar_links li:nth-of-type(5) {
    padding-bottom: 30px;
  }
}

.show-language-button {
  display: inherit;
}

.language-button:hover {
  scale: 1.1;
}

.navbar_dropdown {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 0px;
  z-index: 999;
  background-color: var(--color-navbar);
  overflow: hidden;
}

.navbar_dropdown-open {
  height: auto;
}

@media screen and (max-width: 400px) {
  .navbar_logo p {
    margin: 8px 0;
    font-size: 22px;
  }
}
