.loading_container {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_text-container {
  position: relative;
}

.loading_text {
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  left: -190px;
  top: -55px;
  font-size: 32px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  animation: text-animation 3s ease-in-out infinite;
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading_loader {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: loader-animation 1.2s linear infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading_loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loading_loader span:nth-child(1) {
  filter: blur(5px);
}

.loading_loader span:nth-child(2) {
  filter: blur(10px);
}

.loading_loader span:nth-child(3) {
  filter: blur(25px);
}

.loading_loader span:nth-child(4) {
  filter: blur(50px);
}

.loading_loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #000000;
  border: solid rgb(255, 255, 255) 10px;
  border-radius: 50%;
}
