.my-skills_content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.my-skills_content ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 100px;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 870px) {
  .my-skills_content {
    padding-right: 300px;
  }
  .my-skills_content ul {
    max-height: 360px;
  }
}

.my-skills_content li::before {
  content: "\2022";
  padding-right: 15px;
}

.my-skills_content li {
  color: var(--color-white);
  font-size: 28px;
  font-weight: 10;
  padding-bottom: 10px;
}

.my-skills_content li:hover {
  color: var(--color-link-hover);
}
