.my-skills_content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 100px;
}

.my-skills_content ul {
  display: grid;
  grid-auto-flow: row;
  column-gap: 100px;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 870px) {
  .my-skills_content {
    padding-right: 40px;
    margin-left: 0;
  }
  .my-skills_content ul {
    --rows: 0;
    grid-auto-flow: column;
    grid-template-rows: repeat(var(--rows), 1fr);
  }
}

.my-skills_content li::before {
  content: "\2022";
  padding-right: 15px;
}

.my-skills_content li {
  color: var(--color-white);
  font-size: 28px;
  font-weight: 10;
  padding-bottom: 10px;
}

.my-skills_content li:hover {
  color: var(--color-link-hover);
}
