.container {
  max-width: 1780px;
  margin: 0 auto;
  overflow: hidden;
}

.section-line {
  width: 100%;
  max-width: 1780px;
  height: 3px;
  background-color: white;
}

.my-projects {
  max-height: 1720px;
  overflow: hidden;
}

@media screen and (max-width: 1020px) {
  .my-projects {
    max-height: 2490px;
  }
}
@media screen and (max-width: 683px) {
  .my-projects {
    max-height: 4810px;
  }
}

.my-projects_opened {
  max-height: fit-content;
}
