.container {
  max-width: 1780px;
  margin: 0 auto;
  overflow: hidden;
}

.section-line {
  width: 100%;
  max-width: 1780px;
  height: 3px;
  background-color: white;
}

/* My Skillz */

.my-skillz_content {
  padding: 0 200px;
}

.my-skillz_content ul {
  margin-left: 20vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
}

.my-skillz_content li::before {
  content: "\2022";
  padding-right: 15px;
}

.my-skillz_content li {
  color: var(--color-white);
  font-size: 28px;
  font-weight: 10;
  padding-bottom: 10px;
}

.my-skillz_content li:hover {
  color: var(--color-link-hover);
}
