.container {
  max-width: 1780px;
  margin: 0 auto;
  overflow: hidden;
}

/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.57);
  color: var(--color-white);
  z-index: 9999;
}

.navbar_logo {
  position: absolute;
  top: 0;
  padding: 15px;
  display: flex;
}

.navbar_logo p {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 25px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.navbar_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar_links li {
  padding-right: 25px;
  font-size: 16px;
  font-weight: 200;
}

.navbar_links a {
  text-decoration: none;
  color: var(--color-white);
}

@media screen and (max-width: 880px) {
  .navbar_links {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .navbar_logo p {
    display: none;
  }
}

/* HERO */

.hero_img-container {
  display: grid;
  grid-template-areas: "stack";
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.hero_img-container img {
  grid-area: stack;
  position: absolute;
  bottom: 0;
  right: 0;
}

.test {
}
