@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  scroll-margin: 30px;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-navbar: rgba(0, 0, 0, 0.57);
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: "SF-Pro", sans-serif;
}

body a {
  text-decoration: none;
}

h1 {
  color: var(--color-white);
  font-size: 64px;
  font-weight: 510;
  text-align: center;
  margin: 50px;
}

p {
  font-weight: 10;
  color: var(--color-white);
  font-size: 24px;
}

section {
  min-height: 100svh;
  max-height: 1300px;
}

.page-content {
  transition: filter 0.8s linear;

  &.blur {
    filter: blur(15px);
  }
}
