@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  scroll-margin: 30px;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-navbar: rgba(0, 0, 0, 0.57);
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: "SF-Pro", sans-serif;
}

body a {
  text-decoration: none;
}
