@font-face {
  font-family: "SF-Pro";
  src: url("./fonts/SF-Pro.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Pro-Thin";
  src: url("./fonts/SF-Pro-Display-Thin.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  scroll-margin: 30px;
}

:root {
  --color-black: #000;
  --color-white: #fff;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: "SF-Pro", sans-serif;
}
