.about-me_content {
  display: grid;
}

.about-me_content > * {
  margin: 0 auto;
}

.about-me_picture {
  width: 80vw;
  max-width: 400px;
}

.about-me_content p {
  padding: 38px;
}

@media screen and (min-width: 1025px) {
  .about-me_content {
    grid-template-columns: 1.8fr 1.8fr 1fr;
  }
}
