.about-me_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me_picture {
  width: 80vw;
  max-width: 400px;
}

.about-me_content p {
  padding: 38px;
}

@media screen and (min-width: 1025px) {
  .about-me_content {
    flex-direction: row;
    padding: 0 5vw;
    gap: 100px;
  }
}

@media screen and (min-width: 1420px) {
  .about-me_content {
    padding: 0 15vw;
  }
}

@media screen and (min-width: 1780px) {
  .about-me_content {
    padding: 0 30vh;
  }
}
